# arquivos objeto
*.o
# executavel
main
# zip pra mandar
*.zip

# pdf do trabalho (no meu tem)
# e relatorio
*.pdf

# arquivos de backup de texto
*~

# arquivo de testes pro que quer que esteja fazendo agora (cada um com o seu)
teste.c

# rolê inútil q o lixo do mac do precoce produz
T1.1
